Source: deepin-emacs
Section: editors
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 9), autoconf, dh-autoreconf, texinfo, libxaw7-dev,
 libxpm-dev, libpng-dev, libjpeg-dev, libtiff5-dev, libgif-dev, libgpm-dev, libasound2-dev,
 libncurses5-dev, libxpm-dev, libdbus-1-dev, libgtk-3-dev, libm17n-dev, libotf-dev,
 xaw3dg-dev, liblockfile-dev, imagemagick, sharutils, silversearcher-ag, elpa-pdf-tools-server
Standards-Version: 3.9.4
Homepage: https://github.com/linuxdeepin/deepin-emacs

Package: deepin-emacs
Architecture: any
Provides: deepin-emacs-common
Conflicts: deepin-emacs-common
Depends: ${shlibs:Depends}, ${misc:Depends}, python-xlib
Description: The GNU Emacs editor enhanced by LinuxDeepin Lazycat
 GNU Emacs is the extensible self-documenting text editor.
